@import '~@angular/material/theming';
@include mat-core();
$app-primary: mat-palette($mat-deep-purple, 600);
$app-accent:  mat-palette($mat-lime);
$app-warn:    mat-palette($mat-amber, 400, 50, 800);
$custom-theme: mat-light-theme($app-primary, $app-accent, $app-warn);
@include angular-material-theme($custom-theme);

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 1rem;
  padding: 0;
  font-family: sans-serif;
  background-color: #fff;
  color: black;
}

h1 {
  font-size: 1.2rem;
}

h1,
p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

button,
input[type='text'],
input[type='number'],
input[type='email'] {
  border: 0;
  padding: 0 0.5rem;
  font-size: inherit;
  line-height: 1;
  height: 2rem;
}

button {
  min-width: 2rem;
  font-size: 1.1rem;
}

button + button {
  margin-left: 3px;
}

button {
  background-color: #1976d2;
  color: #fff;
}

input[type='text'],
input[type='number'],
input[type='email'] {
  background-color: #fff;
  border: 1px solid #1976d2;
}


.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.mr-2 {
  margin-right: 10px;
}

.mb-2 {
  margin-bottom: 10px;
}

.pulse {
  animation: pulse 1.5s cubic-bezier(0.4, 0, 0.2, 1) infinite;
  animation-delay: 0.5s;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}
